<div class="service-cards-field">
  <app-ui-btn-text-icon [btnStyle]="'style-header'">
    <h3>Популярные услуги</h3>
  </app-ui-btn-text-icon>
  <div class="service-cards">
    @for (card of serviceCards; let i = $index; track card) {
      <div
        class="service-card {{card.type}}"
        [style.background-image]="card.backgroundImage ? 'url(' + card.backgroundImage + ')' : 'none'"
        [style.background-position]="card.backgroundPosition || 'center'"
        [attr.data-index]="i">

        @if (card.type === 'type-default') {
          <div class="card-overlay"></div>
          <div class="card-content">
            <span class="card-title">{{ card.title }}</span>
            <app-ui-btn-text-icon routerLink="/services" btnText="Подробнее" btnStyle="style-2" btnIcon="arrow-right"></app-ui-btn-text-icon>
          </div>
        } @else if (card.type === 'type-text') {
          <div class="card-content">
            <svg-icon src="/assets/images/icons/services-every-year.svg"></svg-icon>
          </div>
        } @else if (card.type === 'type-btn') {
          <div class="card-content">
            <app-ui-btn-text-icon routerLink="/services" [btnText]="card.buttonText ?? ''" btnIcon="arrow-right"></app-ui-btn-text-icon>
          </div>
        }
      </div>
    }
  </div>
</div>
