:host {
  .service-cards-field {
    display: flex;
    flex-direction: column;
    gap: 48px;
    .service-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
      grid-auto-rows: minmax(380px, auto);
      align-items: stretch;
      gap: 26px 19px;

      .service-card {
        position: relative;
        aspect-ratio: 1 / 1;

        &.type-text {
          position: relative;

          svg-icon {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 371px;
          }
        }

        &.type-default {
          padding: 24px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 15px;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
          }

          &::after {
            transition: backdrop-filter 0.3s ease;
            z-index: 1;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 15px;
            backdrop-filter: blur(2px);
            background: #2020204D;
          }
        }

        .card-content {
          position: relative;
          z-index: 2;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .card-title {
            font-weight: 700;
            font-size: 26px;
            line-height: 120%;
            letter-spacing: 0;
            color: #fff;
          }

          app-ui-btn-text-icon {
            margin-top: auto;
            margin-left: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  :host .service-cards-field {
    .service-cards {
      grid-template-columns: 1fr 1fr ;
      grid-auto-rows: minmax(200px, auto);
      gap: 24px;

      .service-card {

        &.type-text {
          svg-icon {
            width: 348px;
          }
        }

        .card-content {
          .card-title {
            font-weight: 700;
            font-size: 20px;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  :host .service-cards-field {
    .service-cards {
      grid-template-columns: 1fr;
      //grid-auto-rows: minmax(348px, auto);
    }
  }
}
