:host {
  display: block;
}

.service-cards-big {
  display: grid;
  gap: 24px;
}

.services {
  display: grid;
  gap: 24px;

  .service {
    overflow: hidden;
    position: relative;
    padding: 20px;
    height: 337px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 32px;

    .overlay {
      position: absolute;
      inset: 0;
      background: #20202066;
      backdrop-filter: blur(7px);
      pointer-events: none;
    }

    .content {
      position: relative;
      z-index: 1;
      color: #fff;
      max-width: 770px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .title_desc {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .title {
          font-size: 32px;
          font-weight: 700;
          line-height: 120%;
          letter-spacing: 0;
        }

        .desc {
          max-width: 528px;
          width: 100%;
          font-size: 20px;
          font-weight: 600;
          line-height: 142%;
          letter-spacing: 0;
        }
      }

      .tags {
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
      }
    }

    app-ui-btn-icon {
      margin-top: auto;
      z-index: 1;
    }
  }
}

@media (max-width: 1024px) {
  .services {
    .service {
      .content {
        .title_desc {
          .title {
            font-size: 26px;
          }

          .desc {
            font-size: 16px;
            line-height: 130%;
          }
        }

        .tags {
          gap: 12px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .services {
    .service {
      height: 100%;
      padding: 24px;
    }
  }
}

@media (max-width: 500px) {
  .services {
    gap: 16px;

    .service {
      padding: 16px;
      gap: 0;

      .content {
        .title_desc {
          .title {
            font-size: 20px;
          }

          .desc {
            font-size: 16px;
            line-height: 130%;
          }
        }
      }
    }
  }
}
