<div class="services-dynamic-blocks-field">
  <app-ui-btn-text-icon btnStyle="style-header">
    <h3>Адаптация на месте</h3>
  </app-ui-btn-text-icon>
  <div class="blocks-container">
    @for (row of rows; track row) {
      <div class="block-row" [class]="row.cssClass">
        @for (block of row.blocks; track block) {
          <div class="dynamic-block"
               [class]="block.cssClass"
               [class.long-price]="block.hasLongPrice"
               [style.background-color]="block.backgroundColor">
            <div class="block-content">
              <div class="block-header">
                <h5>{{ block.title }}</h5>
                <p>{{ block.description }}</p>
              </div>

              <div class="block-footer">
                <div class="price"
                     [innerHTML]="block.price"
                     [class.long-price-text]="block.hasLongPrice"></div>
                <app-ui-btn-text-icon btnText="Заказать услугу"
                                      btnIcon="arrow-right"
                                      btnStyle="style-2"></app-ui-btn-text-icon>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
