<div class="education-section">
  @if (mainSectionType === 0) {
    <div class="content">
      <div class="text-content">
        <h1 class="title" [innerHTML]="title"></h1>
        <app-ui-btn-text-icon btnText="Узнать о компании" btnStyle="style-1" ></app-ui-btn-text-icon>
      </div>
      <img class="eu-books" src="assets/images/eu_books.png" alt="">
    </div>
  } @else if (mainSectionType === 1) {
    <div class="content-v1">
      <div class="text-content">
        <app-ui-dropdown dropdownStyle="style-2"
                         placeholder="Выберите страну для выбора услуг"
                         [options]="['Страна1','Страна2','Страна3']"></app-ui-dropdown>
        <h1 class="title" [innerHTML]="title"></h1>
        <app-ui-btn-text-icon btnText="Записаться на консультацию"></app-ui-btn-text-icon>
      </div>
      <img class="help-peoples" src="assets/images/help-peoples.png" alt="">
    </div>
  }
</div>

<div class="stats-section {{'v' + mainSectionType}}">
  <div class="stat-card" *ngFor="let s of stats">
    <div class="stat-number" [innerHTML]="s.number"></div>
    <div class="stat-description" [innerHTML]="s.description"></div>
  </div>
</div>
