:host {
  cursor: pointer;
  user-select: none;
  width: 100%;
  display: block;
}

.dropdown {
  width: var(--inp-width);
  position: relative;
  --inp-panel-min-width: 100px;
  --inp-panel-padding: 4px;
  --inp-panel-border-radius: 8px;
  --inp-item-color: var(--color-text-accent);
  --inp-item-border-radius-top: 4px;
  --inp-item-border-radius-bottom: 4px;

  &.style-1 {
    --inp-height: 48px;
    --inp-padding-x: 12px;
    --inp-item-padding: 0 12px;
    --inp-radius: 12px;
    --inp-font-size: 18px;
    --inp-font-weight: 500;
    --inp-line-height: 132%;
    --inp-bg: #fff;
    --inp-chevron-color: var(--color-text-primary);
    --inp-text: var(--color-text-primary);
    --panel-shadow: 0 10px 24px rgba(0, 0, 0, .08);
  }
  &.style-2 {
    --inp-height: 28px;
    --inp-padding-x: 0px;
    --inp-item-padding: 0 12px;
    --inp-font-size: 20px;
    --inp-font-weight: 600;
    --inp-chevron-color: var(--color-text-primary);

    @media (max-width: 500px) {
      --inp-font-size: 16px;
      --inp-line-height: 120%;
    }
  }
  &.style-3 {
    --inp-width: fit-content;
    --inp-height: initial;
    --inp-padding-x: 0px;
    --inp-item-padding: 6px 12px;
    --inp-font-size: 16px;
    --inp-font-weight: 600;
    --inp-line-height: 130%;
    --inp-bg: none;
    --inp-chevron-color: #fff;
    --inp-panel-width: fit-content;
  }

  &.disabled {
    opacity: .6;
    pointer-events: none;
  }

  .control {
    width: 100%;
    height: var(--inp-height);
    background: var(--inp-bg);
    color: var(--inp-text);
    border: none;
    border-radius: var(--inp-radius);
    padding: 0 calc(var(--inp-padding-x) + 24px) 0 var(--inp-padding-x);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-align: left;
    font-size: var(--inp-font-size);
    font-weight: var(--inp-font-weight);
    line-height: var(--inp-line-height);
    outline: none;

    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }

    .value {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.placeholder {
        color: var(--inp-text);
      }
    }

    .chevron {
      position: absolute;
      right: var(--inp-padding-x);
      top: 0;
      height: 100%;
      display: grid;
      place-items: center;
      pointer-events: none;
      color: #7b8088;
      transition: transform .15s ease;

      ::ng-deep {
        svg path {
          stroke: var(--inp-chevron-color);
        }
      }
    }
  }

  &.open .chevron {
    transform: rotate(180deg);
  }

  .panel {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 8px);
    width: var(--inp-panel-width);
    padding: var(--inp-panel-padding);
    background: #fff;
    border: none;
    border-radius: var(--inp-panel-border-radius);
    box-shadow: var(--panel-shadow);
    z-index: 50;
    overflow: hidden;

    .panel-scroll {
      max-height: 260px;
      overflow: auto;
    }

    .item {
      min-width: var(--inp-panel-min-width);
      width: 100%;
      min-height: 40px;
      padding: var(--inp-item-padding);
      border: 0;
      background: transparent;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      color: var(--inp-item-color);
      font-size: var(--inp-font-size);
      font-weight: var(--inp-font-weight);
      line-height: var(--inp-line-height);
      transition: background .12s ease;


      &:nth-child(1), &:nth-child(2) {
        border-top-left-radius: var(--inp-item-border-radius-top);
        border-top-right-radius: var(--inp-item-border-radius-top);
      }

      &:last-child {
        border-bottom-left-radius: var(--inp-item-border-radius-bottom);
        border-bottom-right-radius: var(--inp-item-border-radius-bottom);
      }

      &:hover, &.focused {
        background: #f3f4f6;
      }

      &.selected {
        font-weight: 600;
        background-color: #EFF6FF;
      }

      &.clear {
        color: #6b7280;
      }

      .check {
        margin-left: 8px;
      }
    }
  }
}
