:host {
  cursor: pointer;
  user-select: none;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    &.style-1 {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: var(--color-btn-bg-primary);
    }

    &.style-2 {
      width: 50px;
      height: 50px;
      border-radius: 12px;
      background: var(--color-bg-accent);

      &.small {
        ::ng-deep app-svgs div {
          width: initial;
          height: initial;
          display: flex;
        }
      }
    }

    &.style-3 {
      width: 48px;
      height: 48px;

      ::ng-deep app-svgs div {
        width: 32px;
        height: 24px;
      }
    }
  }
}
