:host {
  cursor: pointer;
  user-select: none;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    &.style-1 {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: var(--color-btn-bg-primary);
    }

    &.style-2 {
      transition: all 0.3s ease-out;
      width: 50px;
      height: 50px;
      border-radius: 12px;
      background: var(--color-bg-primary);

      ::ng-deep app-svgs {
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        svg path {
          stroke: var(--color-icon-line);
        }
      }
      &.active {
        background: var(--color-bg-accent);
        ::ng-deep app-svgs {
          svg path {
            stroke: var(--color-icon-line-1);
          }
        }
      }

      &:hover, &:hover &.active {
        background: rgba(19, 19, 19, 0.38);
      }

      &.medium {
        width: 40px;
        height: 40px;
        border-radius: 8px;
      }

      &.small {
        width: 24px;
        height: 24px;
        border-radius: 4px;
      }

      &.responsive {
        @media (max-width: 1024px) {
          width: 40px;
          height: 40px;
          border-radius: 8px;
        }
        @media (max-width: 500px) {
          width: 24px;
          height: 24px;
          border-radius: 4px;
        }
      }
    }

    &.style-3 {
      width: 48px;
      height: 48px;

      ::ng-deep app-svgs div {
        width: 32px;
        height: 24px;
      }
    }

    &.style-4 {
      transition: all 0.3s;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--color-bg-primary);

      ::ng-deep app-svgs {
        > div {
          width: 48px;
          height: 48px;
        }
        svg path {
          stroke: var(--color-bg-accent);
        }
      }

      &.active {
        background: var(--color-bg-accent);

        ::ng-deep app-svgs {
          > div {
            width: 48px;
            height: 48px;
          }
          svg path {
            stroke: #fff;
          }
        }
      }

      &:hover:not(:disabled) {
        transform: scale(1.05);
      }

      &.medium {
        width: 60px;
        height: 60px;
      }

      &.small {
        width: 40px;
        height: 40px;
        border-radius: 4px;
      }

      &.responsive {
        @media (max-width: 768px) {
          width: 60px;
          height: 60px;
        }
        @media (max-width: 375px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
