:host {
  cursor: pointer;
  user-select: none;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    &.style-1 {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: var(--color-btn-bg-primary);
    }

    &.style-2 {
      transition: all 0.3s ease-out;
      width: 50px;
      height: 50px;
      border-radius: 12px;
      background: var(--color-bg-primary);

      ::ng-deep app-svgs {
        svg path {
          stroke: var(--color-icon-line);
        }
      }
      &.active {
        background: var(--color-bg-accent);
        ::ng-deep app-svgs {
          svg path {
            stroke: var(--color-icon-line-1);
          }
        }
      }

      &:hover, &:hover &.active {
        background: rgba(19, 19, 19, 0.38);
      }


      &.small {
        ::ng-deep app-svgs div {
          width: initial;
          height: initial;
          display: flex;
        }
      }
    }

    &.style-3 {
      width: 48px;
      height: 48px;

      ::ng-deep app-svgs div {
        width: 32px;
        height: 24px;
      }
    }
  }
}
