.header {
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(20px);
  background: #17171766;

  &.solid {
    background: var(--color-bg-header);
  }

  .container {
    max-width: 1280px;
    height: 75px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    gap: 34px;

    app-ui-btn-text-icon {
      margin-left: auto;
    }
  }

  .logo {
    cursor: pointer;
    transition: opacity 0.3s;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;

    //&:hover {
    //  opacity: 0.8;
    //}

    svg-icon {
      width: 225px;
      height: 25px;
      object-fit: contain;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 32px;

    .nav-link {
      transition: all 0.3s;
      position: relative;
      font-size: 16px;
      font-weight: 600;
      white-space: nowrap;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.9);

      &:hover {
        color: white;
      }

      &.active {
        color: white;

        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
          height: 2px;
          background: white;
          border-radius: 1px;
        }
      }
    }

    .language {
      select {
        border: none;
        color: white;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s;
        background: rgba(0, 0, 0, 0);

        option {
          color: white;
        }
      }
    }
  }

  app-ui-btn-icon {
    display: none;
  }
}

@media (max-width: 1275px) {
  .header {
    .container {
      .nav, app-ui-btn-text-icon {
        display: none;
      }

      app-ui-btn-icon {
        display: initial;
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .container {
      padding: 0 24px;
      .nav {
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    .container {
      padding: 0 16px;
    }
  }
}
