<header class="header" [class.solid]="solid()">
  <div class="container">
    <div class="logo" (click)="navigateToHome()">
      <svg-icon src="assets/images/logo/logo.svg"></svg-icon>
    </div>

    <nav class="nav">
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         class="nav-link">Главная</a>
      <a [routerLink]="['/services']" routerLinkActive="active" class="nav-link">Услуги</a>
      <a [routerLink]="['/education']" routerLinkActive="active" class="nav-link">Образование</a>
      <a [routerLink]="['/accommodation']" routerLinkActive="active" class="nav-link">Проживание</a>
      <a [routerLink]="['/about']" routerLinkActive="active" class="nav-link">О компании</a>
      <div class="language">
        <select>
          <option>RU</option>
          <option>EN</option>
        </select>
      </div>
    </nav>
    <app-ui-btn-text-icon (click)="modalService.currentModal = 'form-consultation'" btnText="Записаться на консультацию"></app-ui-btn-text-icon>
    <svg-icon src="/assets/images/icons/menu.svg" (click)="toggleMobileMenu()"></svg-icon>
  </div>
</header>


<app-mobile-menu
  [open]="isMobileMenuOpen"
  (closed)="isMobileMenuOpen = false"
></app-mobile-menu>
