<section class="hero">
  <div class="video-container">
    <video
      #videoElement
      [src]="videos[currentVideoIndex].src"
      autoplay
      muted
      playsinline
      (loadedmetadata)="onVideoLoaded()"
      (timeupdate)="onTimeUpdate()"
      (ended)="onVideoEnded()">
    </video>
    {{ videos[currentVideoIndex].src }}\
  </div>

  <div class="hero-content">
    <div class="progress-bars">
      @for (video of videos; let i = $index; track video.title) {
        <div
          class="progress-bar"
          [class.active]="i === currentVideoIndex">
          <div
            class="progress-fill"
            [style.width.%]="i === currentVideoIndex ? currentProgress : (i < currentVideoIndex ? 100 : 0)">
          </div>
        </div>
      }
    </div>

    <div class="hero-content__bottom">
      <div class="hero-text">
        <span>Quartier Latin</span>
      </div>

      <div class="video-controls">
        <app-ui-btn-icon (click)="previousVideo()" btnIcon="arrow-left" btnStyle="style-2" [btnStatus]="currentVideoIndex === 0 ? '' : 'active'"></app-ui-btn-icon>
        <app-ui-btn-icon (click)="nextVideo()" btnIcon="arrow-right" btnStyle="style-2" [btnStatus]="currentVideoIndex === videos.length - 1 ? '' : 'active'"></app-ui-btn-icon>
      </div>
    </div>
  </div>
</section>
