:host {
  padding: 24px 40px;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;

  .tabs {
    position: relative;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    padding-bottom: 3px;

    &::-webkit-scrollbar {
      display: none;
    }

    white-space: nowrap;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    scroll-behavior: smooth;

    .tab {
      user-select: none;
      cursor: pointer;
      transition: color .15s ease;
      margin: 0;
      padding: 0 32px 12px;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 600;
      border: 0;
      outline: none;
      flex-shrink: 0;
      background: transparent;
      border-bottom: none;
      color: var(--color-text-secondary);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: var(--color-icon-line);
        z-index: 1;
      }

      &.active {
        color: var(--color-text-primary);

        &::after {
          display: none;
        }
      }

      &:hover:not(.active):not(.disabled) {
        color: var(--color-text-secondary);
      }

      &:active {
        cursor: grabbing;
      }

      &.disabled {
        color: #cbd5e1;
        cursor: not-allowed;
      }
    }

    .indicator {
      transition: transform .25s ease, width .25s ease;
      will-change: transform, width;
      z-index: 2;
      position: absolute;
      left: 0;
      bottom: 1px;
      height: 6px;
      border-radius: 6px;
      background: var(--color-brand, #1e6df8);
    }
  }
}
