<div class="questions_field">
  <app-ui-btn-text-icon [btnStyle]="'style-header'" btnText="Часто задаваемые вопросы"></app-ui-btn-text-icon>
  <div class="questions">
    @for (question of questions; track question; let i = $index) {
      <div class="question" [class.is-open]="question.is_open">
        <div class="question_header" (click)="toggleQuestion(i)">
          <span [innerHTML]="question.question"></span>
          <app-ui-btn-icon [btnIcon]="'plus'"
                           [class.active]="question.is_open"
                           [isResponsive]="true"
                           [responsiveMask]="[1, 0, 1]"
                           [btnStyle]="question.is_open ? 'style-2' : 'style-2'" btnStatus="active"></app-ui-btn-icon>
        </div>
        <div class="question_answer_wrapper"
             [style.display]="!question.is_open ? 'none' : ''"
             [style.position]="!question.is_open ? 'absolute' : ''"
        >
          <div class="question_answer" [innerHTML]="question.answer"></div>
        </div>
      </div>
    }
  </div>
</div>
