:host {
}

.questions_field {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .questions {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .question {
      overflow: hidden;
      transition: all 0.3s ease;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      background-color: var(--color-bg-primary);

      .question_header {
        user-select: none;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          max-width: 985px;
          font-size: 24px;
          font-weight: 600;
          line-height: 130%;
          color: var(--color-text-primary);
        }

        ::ng-deep app-ui-btn-icon {
          margin-bottom: auto;

          app-svgs {
            transition: 0.3s;
            transform: rotate(0);
          }

          &.active {
            app-svgs {
              transform: rotate(45deg);
            }
          }
        }
      }

      .question_answer_wrapper {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding-top 0.3s ease;
      }

      &.is-open {
        .question_answer_wrapper {
          max-height: 500px; /* Достаточно большое значение */
        }
      }

      .question_answer {
        font-size: 20px;
        font-weight: 600;
        line-height: 142%;
        color: var(--color-text-primary);
      }
    }
  }
}

@media (max-width: 1024px) {
  .questions_field {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .questions {
      gap: 16px;
      .question {
        .question_header {
          span {
            font-size: 20px;
            line-height: 142%;
          }
        }

        .question_answer {
          font-size: 16px;
          font-weight: 600;
          line-height: 132%;
          color: var(--color-text-primary);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .questions_field {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .questions {
      gap: 12px;
      .question {
        .question_header {
          span {
            font-size: 16px;
            line-height: 130%;
          }
        }

        .question_answer {
          line-height: 130%;
        }
      }
    }
  }
}
