<div class="home-page">
  <app-hero></app-hero>
  <div class="home-items">
    <div class="home-item">
      <app-stats></app-stats>
    </div>
    <div class="home-item">
      <app-order-help></app-order-help>
    </div>
    <div class="home-item service">
      <app-ui-btn-text-icon [btnStyle]="'style-header'" btnText="Популярные услуги"></app-ui-btn-text-icon>
      <app-service-cards></app-service-cards>
    </div>
    <div class="home-item partners">
      <app-ui-btn-text-icon [btnStyle]="'style-header'" btnText="Партнёры Quartier Latin"></app-ui-btn-text-icon>
      <app-partners></app-partners>
    </div>
    <div class="home-item questions">
      <app-ui-btn-text-icon [btnStyle]="'style-header'" btnText="Партнёры Quartier Latin"></app-ui-btn-text-icon>
      <app-questions></app-questions>
    </div>
    <div class="home-item reviews">
      <app-reviews></app-reviews>
    </div>
    <div class="home-item subscribe">
      <app-subscribe></app-subscribe>
    </div>
    <div class="home-item">
      <app-bid></app-bid>
    </div>
  </div>
</div>
