<div class="subscribe-field">
  <div class="subscribe">
    <app-ui-btn-text-icon btnText="Подписывайтесь<br>в&nbsp;социальных сетях" btnStyle="style-header"></app-ui-btn-text-icon>
    <img src="assets/images/subscribe_arrow.png" alt="">
  </div>
  <div class="socials">
    <app-ui-btn-icon btnIcon="telegram"></app-ui-btn-icon>
    <app-ui-btn-icon btnIcon="vk"></app-ui-btn-icon>
    <app-ui-btn-icon btnIcon="instagram"></app-ui-btn-icon>
    <app-ui-btn-text-icon btnText="YouTube" btnIcon="youtube" btnOrder="row-reverse"></app-ui-btn-text-icon>
  </div>
</div>
