<div class="subscribe-field">
  <div class="subscribe">
    <app-ui-btn-text-icon btnText="Подписывайтесь<br>в&nbsp;социальных сетях" btnStyle="style-header"></app-ui-btn-text-icon>
    <img class="subscribe__arrow-1" src="assets/images/subscribe_arrow.png" alt="">
    <img class="subscribe__arrow-2" src="assets/images/subscribe_arrow_1.png" alt="">
  </div>
  <div class="socials">
    <div class="socials__small">
      <app-ui-btn-icon btnIcon="telegram"></app-ui-btn-icon>
      <app-ui-btn-icon btnIcon="vk"></app-ui-btn-icon>
      <app-ui-btn-icon btnIcon="instagram"></app-ui-btn-icon>
    </div>
    <app-ui-btn-text-icon btnText="YouTube" btnIcon="youtube" btnOrder="row-reverse"></app-ui-btn-text-icon>
  </div>
</div>
