:host {
  padding: 0 40px;
  height: 335px;

  .subscribe-field {
    display: flex;
    justify-content: space-between;

    .subscribe {
      position: relative;
      font-size: var(--font-size-40);
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0;
      color: var(--color-text-primary);

      .subscribe__arrow-1 {
        position: absolute;
        left: 360px;
        top: 36px;
        width: 375px;
        height: 161px;
      }
      .subscribe__arrow-2 {
        display: none;
      }
    }

    .socials {
      height: fit-content;
      margin-top: 32px;
      display: flex;
      gap: 12px;

      &__small {
        display: flex;
        gap: 12px;
      }
    }

    .subscribe, .socials {
      margin-top: 80px;
    }
  }
}

@media (max-width: 1152px) {
  :host {
    .subscribe-field {
      .subscribe {
        .subscribe__arrow-1 {
          position: initial;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  :host {
    height: 341px;
    padding: 0 24px;
    .subscribe-field {
      .subscribe {
        img {
          //width: 92%;
        }
      }
    }
  }
}

@media (max-width: 764px) {
  :host {
    padding: 0 0 0 16px;
    height: 421px;
    .subscribe-field {
      height: 100%;
      flex-direction: column;

      .subscribe {

        .subscribe__arrow-1 {
          display: none;
        }
        .subscribe__arrow-2 {
          display: initial;
          position: absolute;
          right: 0;
        }
      }

      .socials {
        margin-top: auto;
      }
    }
  }
}

@media (max-width: 500px) {
  :host {
    .subscribe-field {
      .subscribe {
      }

      .socials {
        margin-top: auto;
        flex-direction: column;
      }
    }
  }
}
