@use 'mixins' as *;

:host {
  padding: 40px 40px 63px 40px;
}

.page-banner-field {
  position: relative;
  height: 375px;
  padding: 32px;
  border-radius: 20px;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;

  img {
    position: absolute;
    top: -10px;
    right: 0;
    width: 451px;
    height: 451px;
  }

  .path {
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    display: flex;
    gap: 8px;

    a {
      text-decoration: none;
      color: var(--color-text-path);
    }

    .dot {
      width: 25px;
      height: 21px;
      text-align: center;
    }

    .current {
      color: var(--color-bg-accent);
    }
  }

  .info {
    margin-top: 32px;

    h6 {
      margin-top: 12px;
      max-width: 515px;
      width: 100%;
    }
  }

  app-ui-btn-text-icon {
    margin-top: auto;
  }
}

@media (max-width: 1024px) {
  :host {
    padding: 24px;
  }

  .page-banner-field {
    overflow: hidden;
    height: 318px;
    padding: 24px;

    img {
      top: 23px;
      right: -54px;
      width: 300px;
      height: 300px;
    }

    .path {
      font-size: 12px;
      font-weight: 500;
      line-height: 135%;

      .dot {
        width: 18px;
        height: 16px;
      }
    }

    .info {
      margin-top: 39px;
      max-width: 476px;
      width: 100%;
      h1 {
        @include heading-4;
      }

      h6 {
        margin-top: 8px;
      }
    }
  }
}

@media (max-width: 500px) {
  :host {
    padding: 16px;
  }

  .page-banner-field {
    height: 601px;

    img {
      top: 315px;
      right: -49px;
      width: 300px;
      height: 300px;
    }

    .info {
      margin-top: 22px;

      h1 {
        @include heading-5;
      }

      h6 {
        margin-top: 12px;
        line-height: 130%;
      }
    }

    app-ui-btn-text-icon {
      margin: 24px auto 0;
    }
  }
}
