@use 'mixins' as *;

:host {
  padding: 40px 40px 63px 40px;
}

.page-banner-field {
  height: 375px;
  padding: 32px;
  border-radius: 20px;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;

  .path {
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    display: flex;
    gap: 8px;

    a {
      text-decoration: none;
      color: var(--color-text-path);
    }

    .dot {
      width: 25px;
      height: 21px;
      text-align: center;
    }

    .current {
      color: var(--color-bg-accent);
    }
  }

  .info {
    margin-top: 32px;

    h6 {
      margin-top: 12px;
      max-width: 515px;
      width: 100%;
    }
  }

  app-ui-btn-text-icon {
    margin-top: auto;
  }
}

@media (max-width: 1024px) {
  :host {
    padding: 24px;
  }

  .page-banner-field {
    height: 318px;
    padding: 24px;
    .path {
      font-size: 12px;
      font-weight: 500;
      line-height: 135%;

      .dot {
        width: 18px;
        height: 16px;
      }
    }

    .info {
      margin-top: 39px;
      h1 {
        @include heading-4;
      }

      h6 {
        margin-top: 8px;
      }
    }
  }
}

@media (max-width: 500px) {
  :host {
    padding: 16px;
  }

  .page-banner-field {
    height: 601px;

    .info {
      margin-top: 39px;

      h6 {
        margin-top: 12px;
      }
    }
  }
}
