<div class="page-banner-field">
  <div class="path">
    <span>Главная</span>
    <span class="dot">•</span>
    <span>Услуги</span>
    <span class="dot">•</span>
    <span class="current">Адаптация на месте</span>
  </div>
  <div class="info">
    <h1>Адаптация на месте</h1>
    <h6 class="heading-7">
      Quartier Latin поможет оформить медицинское страхование, открыть банковский счёт, подать декларацию и&nbsp;выбрать оператора мобильной связи. Вы&nbsp;не&nbsp;останетесь один на&nbsp;один с&nbsp;бытовыми проблемами!
    </h6>
  </div>
  <app-ui-btn-text-icon btnText="Заказать консультацию"></app-ui-btn-text-icon>
</div>
