<div class="bid-field">
  <app-ui-btn-text-icon btnStyle="style-header">
    <span class="tag">Оставьте заявку</span><br>на бесплатную<br>консультацию
  </app-ui-btn-text-icon>
  <div class="bid-form">
    <div>
      <div class="bid-form__header">Заполни форму</div>
      <div class="bid-form__inputs">
        <input placeholder="Имя и фамилия">
        <input placeholder="Имя и фамилия">
        <input placeholder="Номер телефона">
        <input placeholder="Email">
      </div>
      <app-ui-btn-text-icon btnText="Записаться на консультацию"></app-ui-btn-text-icon>
    </div>
    <span class="bid-form__footer">Нажимая на кнопку, Вы соглашаетесь с&nbsp;<span class="underline"></span>Политикой обработки персональных данных</span>
  </div>
</div>
