.bid-field {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  .bid-form {
    flex: none;
  }
}

.br-2 {
  display: none;
}

@media (max-width: 850px) {
  .bid-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ::ng-deep app-ui-btn-text-icon {
      .br-1 {
        display: none;
      }

      .br-2 {
        display: initial;
      }
    }

    .bid-form {
      width: 100%;
    }
  }
}
