:host {
  width: fit-content;
  cursor: pointer;
  user-select: none;

  .style-header {
    font-size: 40px;
    font-weight: 700;
    line-height: 132%;
    letter-spacing: 0;

    @media (max-width: 1024px) {
      font-size: 32px;
      line-height: 120%;
    }

    @media (max-width: 500px) {
      font-size: 26px;
    }
  }

  .style-1 {
    height: 56px;
    padding: 0 24px;
    font-family: Inter;
    font-weight: 700;
    white-space: nowrap;
    background: var(--color-btn-bg-primary);
    color: white;
    gap: 10px;

    @media (max-width: 500px) {
      height: 51px;
      padding: 0 20px;
    }
  }

  .style-2 {
    height: 48px;
    padding: 12px 24px;
    font-family: Inter;
    white-space: nowrap;
    background: #fff;
    color: var(--color-text-primary);
    gap: 4px;

    ::ng-deep app-svgs svg path {
      stroke: var(--color-btn-arrow-red);
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .style-1, .style-2 {
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;;
    letter-spacing: 0;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }

    &.row-reverse {
      flex-direction: row-reverse;
    }
  }

  .style-3 {
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 51px;
    padding: 0 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    color: #807778;
    background: var(--color-bg-primary);

    @media (max-width: 1024px) {
      font-size: 12px;
      line-height: 120%;
    }
  }
}
