@use 'mixins' as *;

:host {
  //padding-top: 0;
  padding-bottom: 0;
}

.prices-services-field {
  &__header {
    width: 98.1%;
    display: flex;

    img {
      margin-top: -22px;
    }
  }

  .cards {
    padding-top: 48px;
    padding-bottom: 78px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    .card {
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      position: relative;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0px 0px 16.6px 0px #2F335926;
      display: flex;
      flex-direction: column;
      gap: 40px;

      &:hover {
        transform: translateY(-5px);
      }

      &.highlighted {
        background-color: var(--color-bg-primary);
      }

      .badge {
        position: absolute;
        top: -20px;
        right: -11px;
        transform: rotate(15.46deg);
        padding: 8px 12px;
        border-radius: 50px;
        font-size: 12px;
        font-weight: 700;
        line-height: 120%;
        background-color: var(--color-bg-accent);
        color: #ffffff;
      }

      header {
        text-align: center;
      }

      .features {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .feature {
          display: flex;
          align-items: flex-start;
          gap: 16px;

          &.feature--one-line {
            align-items: center;
          }

          h6 {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
          }
        }
      }

      footer {
        margin-top: auto;
        display: flex;

        .price-info {
          .price {
            font-size: 48px;
            font-weight: 700;
            line-height: 120%;
          }

          .hours {
            font-size: 20px;
            font-weight: 600;
            line-height: 142%;
          }
        }

        app-ui-btn-text-icon {
          margin-top: auto;
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: 1275px) {
  .prices-services-field {
    &__header {
      img {
        display: none;
      }
    }
  }
}

@media (max-width: 1100px) {
  .prices-services-field {

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;

      .card {
        width: 348px;
      }
    }
  }
}

@media (max-width: 768px) {
  .prices-services-field {
    &__header {
      max-width: 680px;
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .prices-services-field {
    .cards {
      gap: 32px;

      .card {
        width: 100%;

        .features {
          .feature {

          }
        }
      }
    }
  }
}
