/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Involve';
  src: url('./assets/fonts/involve/Involve-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./assets/fonts/involve/Involve-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./assets/fonts/involve/Involve-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./assets/fonts/involve/Involve-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Если есть наклонные варианты */
@font-face {
  font-family: 'Involve';
  src: url('./assets/fonts/involve/Involve-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./assets/fonts/involve/Involve-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
}

:root {
  --color-bg-white: #fff;
  --color-bg-accent: #1D62ED;
  --color-bg-primary: #ECECEC;
  --color-bg-secondary: #BFBABA;

  --color-bg-header: #17171766;

  --color-btn-bg-primary: #FA5354;
  --color-btn-bg-primary-hover: #E71B1C;
  --color-btn-bg-primary-pressed: #A11314;

  --color-btn-bg-secondary: #fff;
  --color-btn-bg-secondary-hover: #ECECEC;
  --color-btn-bg-secondary-pressed: #BFBABA;

  --color-btn-bg-disabled: #BFBABA;
  --color-btn-text-disabled: #A4A4A4;

  --color-btn-arrow-red: #FA5354;

  --color-text-primary: #1E1C1C;
  --color-text-accent: #1D62ED;
  --color-text-secondary: #A4A4A4;
  --color-text-secondary-1: #797979;

  --color-icon-line: #BFBABA;
  --color-icon-line-1: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button {
  font-family: 'Involve', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.6;
  color: #333;
}

svg-icon {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.tag {
  width: fit-content;
  height: 59px;
  padding: 6px 10px 10px;
  font-size: 40px;
  font-weight: 700;
  line-height: 164%;
  letter-spacing: 0;
  white-space: nowrap;
  border-radius: 50px;
  background: var(--color-bg-accent);
  color: white;

  @media (max-width: 1024px) {
    font-size: 32px;
  }

  @media (max-width: 500px) {
    font-size: 26px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.header-margin {
    margin-top: 40px;
  }

  > * {
    max-width: 1280px;
    width: 100%;
    padding: 80px 40px;

    @media (max-width: 1024px) {
      padding: 64px 24px;
    }

    @media (max-width: 500px) {
      padding: 49px 16px;
    }
  }

  app-hero {
    padding: 0;
  }
}
