<div class="footer-field">
  <div class="footer-field__left">
    <svg-icon src="assets/images/logo/logo-dark.svg"></svg-icon>
    <div class="footer-contacts">
      <div><app-svgs icon="geo"></app-svgs> 10 rue de la Lune 75002 Paris</div>
      <div><app-svgs icon="phone"></app-svgs> +33 1 44 82 90 31</div>
      <div><app-svgs icon="mail"></app-svgs> contact&#64;quartier-latin.com</div>
      <div><app-svgs icon="whatsapp"></app-svgs> +33 6 26 63 86 27</div>
    </div>
    <app-ui-btn-text-icon (click)="modalService.currentModal = 'form-consultation'" btnText="Заказать консультацию"></app-ui-btn-text-icon>
  </div>
  <div class="footer-field__right">
    <div class="footer_routes">
      <div>Услуги</div>
      <div>Изучение языка</div>
      <div>Образование</div>
      <div>Визовая поддержка</div>
      <div>Аренда жилья</div>
      <div>Адаптация на месте</div>
      <div>Страхование</div>
      <div>Поиск опекуна</div>
    </div>
    <div class="footer_routes">
      <div>Каталоги</div>
      <div>Высшее образование</div>
      <div>Проживание</div>
      <div>Языковые курсы</div>
      <div>Партнеры</div>
    </div>
    <div class="footer_routes">
      <div>Quartier Latin</div>
      <div>О компании</div>
      <div>База знаний</div>
      <div>Контакты</div>
      <div>Вакансии</div>
    </div>
  </div>
</div>
